* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    min-width: 1020px;
}
.flex {
    display: flex;
}
.header-block1 {
    height: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.logo img {
    padding-left: 50px;
    width: 400px;
    height: 100%;
}
.menu {
    margin-top: 20px;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5em;
    font-family: "Montserrat";
    color: black;
    margin-left: 30px;
}
.header-menu ul li {
    display: inline-block;
}
.menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.header-block2 {
    display: flex;
    height: 550px;
}
.welcome-pic1 {
    width: 70%;
    margin-right: 1px;
    background-image: url(../images/welcome-pic1.jpg);
    background-position: 50% 70%;
}
.welcome-pic2 {
    width: 30%;
    background-image: url(../images/welcome-pic2.jpg);
    background-position: 50% 0;
}
.welcome-pic-size {
    background-repeat: no-repeat;
    background-size: cover;
}
.center-page {
    margin: 50px 100px;
}
.services-block {
    display: flex;
}
.service-block1 {
    width: 70%;
}
.service-block2 {
    width: 30%;
}
.services-block-small {
    display: flex;
}
.ground {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 200px;
    width: 300px;
}
.small-pic1 {
    background-image: url(../images/small-pic1.jpg);
    box-shadow: 13px 19px 25px 2px black;
}
.text-small-block {
    font-family: "Montserrat";
    color: white;
    background-color: black;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.small-pic2 {
    background-image: url(../images/small-pic2.jpg);
}
.small-pic3 {
    background-image: url(../images/small-pic3.jpg);
}
.small-pic-end {
    background-image: url(../images/small-pic-end.jpg);
}
.small-pic-end-size {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 400px;
    width: 300px;
}
.small-pic-shadow {
    box-shadow: 13px 19px 25px 2px black;
}
.size:hover {
    transform: scale(1.1);
    transition: 0.4s;
}
.block-about-me {
    display: flex;
}
.foto-block-about-me {
    position: relative;
    width: 50%;
    margin-left: 20px;
}
.foto-block-about-me img {
    height: 400px;
    width: 340px;
}
.me-foto1 {
    z-index: 200;
    position: absolute;
}
.me-foto1:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.backgroung-fon1 {
    background-image: url("../images/background-fon1.jpg");
    height: 400px;
    width: 340px;
    z-index: 100;
    background-size: cover;
    position:absolute;
    left: 100px;
    top: 55px;
    box-shadow: 13px 19px 25px 2px black;
}
.empty-border-block {
    border-top: 3px solid black;
    width: 260px;
    position: absolute;
    z-index: 300;
    left: 360px;
    top: 120px;
}
.text-about-me {
    position: relative;
    height: 400px;
    width: 340px;
    z-index: 2;
    margin-left: 250px;
    width: 50%;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
h3 {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}
.socials {
    text-align: center;
}
.icon-socials {
    display: inline-block;
    background-image: url("../images/socials-icon.png");
    background-repeat: no-repeat;
    width: 30px;
    height: 45px;
    margin: 0 10px;
}
.pint {
    background-position: -95px 0;
}
.insta {
    background-position: -65px 0;
}
.skype {
    background-position: -99px -34px;
}
.fb:hover {
    background-position: 0 -188px;
}
.pint:hover {
    background-position: -95px -188px;
}
.insta:hover {
    background-position: -65px -188px;
}
.skype:hover {
    background-position: -99px -222px;
}
.backgroung-fon2 {
    background-image: url(../images/backgroung-fon2.png);
    position: absolute;
    height: 400px;
    width: 280px;
    background-size: cover;
    background-position: 50% 50%;
    top: 20px;
    left: -155px;
}
.work-with-me {
    display: flex;
    margin-left: 50px;
}
/*стили для слайдера*/
.portfolio {
    background-image: url(../images/Ten-form.jpg);
    background-position: 0 48%;
    background-repeat: no-repeat;
    height: 80px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    box-shadow: 0 0 5px 5px white inset;
}
.sl {
    max-width: 1000px;
    margin: 20px auto;
}
.sl_slide img {
    height: 500px;
    padding: 20px;
}
/*palitra*/
.palitra-flex {
    display: flex;
    text-align: center;
    font-family: 'Dancing Script';
    font-size: 25px;
}
.palitra {
    width: 250px;
    height: 50px;
    margin-bottom: 10px;
}
.palitra:hover {
    box-shadow: 4px 3px 4px 2px grey;
    transform: scale(1.1);
    transition: 0.4s;
}
.palitra1 {
    background-color: blanchedalmond;
}
.palitra4 {
    background-color: palevioletred;
}
.palitra3 {
    background-color: rosybrown;
}
.palitra2 {
    background-color: burlywood;
}
.palitra6 {
    background-color: brown;
}
.palitra5 {
    background-color: indianred;
}
.brand {
    background-image: url("../images/brand.jpg");
    width: 900px;
    height: 350px;
    background-size: cover;
    background-position: right;
    margin-left: 50px;
    box-shadow: 13px 19px 25px 2px lightgrey;
}
.brand:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.say-hi {
    width: 30%;
    background-image: url(../images/sayhi.png);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 50px;
}
.block-form {
    width: 70%;
    height: 610px;
}
.block-form-fon {
    background-image: url(../images/Ten-form.jpg);
    width: 100%;
    height: 610px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.7;
}
.block-form-inside {
    position: relative;
    width: 450px;
    height: 275px;
    right: -50px;
    top:-520px;
    font-family: "Montserrat"
}
label {
    display: block;
}
input, select {
    border: none;
    border-bottom: 1px solid black;
    padding: 15px;
    outline:none;
    margin-bottom: 20px;
    background-color: transparent;
}
.hidden_err {
    color: red;
    display: none;
}
button {
    padding: 10px 40px;
}
/*footer*/
.footer-wrapper {
    z-index: 1;
}
.footer-block1 {
    background-color: gainsboro;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.cosmetics > img {
    width: 150px;
    height: 70px;
    margin-top: 20%;
}
.cosmetics > img:hover {
    transform: scale(1.4);
    transition: 0.5s;
}
.footer-menu-main {
    margin: 20px 20px 0 0 ;
    width: 250px;
    text-align: right;
}
.footer-menu a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5em;
    font-family: "Montserrat";
    color: white;
}
.footer-menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.footer-block2 {
    background-color: black;
    height: 150px;
    display: flex;
}
.text-footer {
    color: white;
    margin: 20px auto;
}
.backgroung-footer {
    background-image: url(../images/backgroung-footer.png);
    position: relative;
    background-position: 50% 50%;
    z-index: 2;
    width: 200px;
    height: 150px;
    right: 10px;
}
.button-up {
    position: fixed;
    background-image: url("../images/Button-Up.png");
    background-size: cover;
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 5px;
    z-index: 1000;
    cursor: pointer;
    display: none;
}
